#reservationForm {
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 5px;
}

#reservationForm button {
  margin: 20px auto 20px 5%;
}

#reservationForm > div, h1 {
  width: 90%;
  margin: 10px auto;
}
/*# sourceMappingURL=style.css.map */